# ========================================
# REQUIRED ENV VARS (service will not start without these)
# ========================================

NUXT_JWT_SECRET=your-secret-key-here

NUXT_STRAPI_URL=http://host.docker.internal:1337
NUXT_STRAPI_USER=strapiuser
NUXT_STRAPI_PASSWORD=strapipassword

NUXT_PUBLIC_URL=http://localhost:3000
NUXT_OAUTH_CLIENT_SECRET=your-oauth-secret
NUXT_SYNC_SECRET=your-fiona-sync-secret

# ========================================
# OPTIONAL ENV VARS (safe defaults or not required)
# ========================================

NUXT_STRAPI_ADMIN_USER=
NUXT_STRAPI_ADMIN_PASSWORD=

NUXT_PUBLIC_OAUTH_URL=https://oauth.ee
NUXT_PUBLIC_OAUTH_CLIENT_ID=poff

NUXT_PUBLIC_EVENTIVAL_URL=https://account.eventival.com
NUXT_PUBLIC_EVENTIVAL_CLIENT_ID=ev-poff
NUXT_EVENTIVAL_CLIENT_SECRET=
NUXT_PUBLIC_EVENTIVAL_EDITION=27th
NUXT_EVENTIVAL_API_TOKEN=

NUXT_FIONA_API_KEY=
