@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body,
#__nuxt {
  @apply h-full w-full;
}

#__nuxt {
  display: grid;
  background-color: #555572;
}

main {
  place-self: center;
  margin-bottom: 10vh;
  background-color: #ffffff;
}
